@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #1F242D;

}

a{
    color:#fff
}

.navbar
{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    padding: 25px 9%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo
{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar ul {
    display: flex;

}
.navbar ul li
{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a
{
    
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: .5s;

}
.navbar ul li:hover a,
.navbar ul li a.active
{
    color: #7cf03d;
}

.home
{ 
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9%  0;
    color: #fff;
}

.home info h1
{
    font-size: 55px;

}

.home info h2
{
    font-size: 32px;
    margin: 10px 0;
}
.home info p
{
    font-size: 18px;
    margin: 10px 0 25px;

}
.home .btn-sci{
    display: flex;
    align-items: center;
}

.btn
{
    display: inline-block;
    background: #7cf03d;
    padding: 10px 30px;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #1F242D;
    text-decoration: none;
    transition: .5s;
}
.btn:hover {
    background:transparent;
    box-shadow: none;
    color: #7cf03d;
}

.btn:hover {
    background: transparent;
    box-shadow: none;
    color: #7cf03d;
}

.home-info .btn-sci .sci
{
    margin-left: 20px;
}

.home-info .btn-sci .sci a
{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;

}

.home-info .btn-sci .sci a:hover
{
    background: #7cf03d;
    color: #7cf03d;
    box-shadow: 0 0 10px #7cf03d;
    overflow: hidden; 
}

.remove-bg
{
    background: none;
    box-shadow: none;
    mix-blend-mode: lighten;
}

.home-img .img-box
{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    position: relative;
    z-index: 1;
.home-img .img-box img
{
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

roqa span {
  color: red;
  font-size: 40px;
}




.img-item {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
}.img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
 .profile-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #000; /* optional */
  object-fit: cover;
 }

 